.one {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius:10px;
    height: 280px;
    margin-left: 20px;font-weight: bold;
}
.two {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius:10px;
    height: 150px;
    margin-left: 18px;
    font-weight: bold;
}
legend {
    font-size: 20px;
    font-weight: bolder;
}
.three{
width:200px;
    padding:7px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
}

form{
    background-color: blanchedalmond;
    background: url(https://d16kd6gzalkogb.cloudfront.net/magazine_images/Geometric-Forms-in-Art.-Image-via-thevirtualinstructor.com_.jpg) ;
    background-repeat: no-repeat;
    background-blend-mode: screen;
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}
body {
    background-color:azure;
    margin-left: 30px;
}
table {
    margin-left: 30px;
}